*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(30, 30, 30);
    width: 100%;
    display: grid;
    /* place-items: center; */
    height: 100vh;
    padding-top: 50px;
}
.border-image{
    border-image-slice: 25%;
    border-image-repeat: repeat;
    width: 200px;
    height: 200px;
    border-width: 10px;
    border-style: solid;
    background-repeat: no-repeat;
    
}
.background-image{
    background-image: url(/flower.png) ,url(/paper.avif);
    background-position: top 30px right,top  left;
    background-size: 100px, cover;
    background-repeat:no-repeat;
    width: fit-content;
    height: 100px;
    overflow: hidden;

    /* background-clip: text;   */
}

.anime{
    width: 30px;
    margin-left: 100px;
    height: 20px;
    border-radius: 3px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    -webkit-text-stroke: 0.3px black;
    animation: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes box {
    from{
        -webkit-transform: rotate(0); 
    }
    10%{
        transform: rotate(30deg);
    }
    40%{
        background-color: aqua;
    }
    50%{
        background-color: aqua;
        transform: translateX(300px);
    }
    75%{
    }
    to{
        transform: translateX(0) rotate(-360deg);
    }
}