* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    position: relative;
    width: 100%;
    z-index: 2;
}

.menu_conn {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    animation: menuStart 1s;
}

.menu_conn .menu {
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 45px;
}

.menu .menu_icon {
    width: 50%;
    margin-left: 25px;
}

.menu a .menu_icon img {
    width: 100%;
}

.menu .menu_items {
    width: 57%;
    display: flex;
    justify-content: space-evenly;
}

.menu .menu_item {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.menu .menu_items a {
    text-decoration: none;
    padding: 15px;
    color: black;
    font-weight: 500;
    box-shadow: none;
    border-radius: 25px;
}

.menu .menu_items a:hover {
    box-shadow: 0 0 0 2px #ff7300;
}

.menu .menu_items a:hover p {
    text-decoration: underline;
}


.menu .menu_search {
    width: 18%;
}

.menu .menu_globe {
    width: 5%;
}

.menu .menu_search {
    display: flex;
    justify-content: center;
}

.menu .menu_search input {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    border: 1px solid #ff7300;
}

.menu .menu_search .search_icon {
    padding: 4px;
    background-color: #ff7300;
    border-radius: 0 15px 15px 0;
    color: white;
    padding-left: 8px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu .menu_globe i {
    font-size: 25px;
    margin-left: 15px;
    color: #ff7300;
}



.bg {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.floating-icons {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-icons i {
    border: 1px solid whitesmoke;
    padding: 20px;
    background-color: #ff7300;
    border-radius: 100%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
}

.floating-icons i .tooltip {
    position: absolute;
    right: 65px;
    font-size: 20px;
    text-wrap: nowrap;
    background-color: rgb(50, 50, 50);
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.tooltip::after {
    content: "";

}

.floating-icons i:hover>.tooltip {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.products {
    width: 100%;
    height: auto;
}

.products h1 {
    font-size: 3rem;
}

.product {
    position: relative;
    gap: 20px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
}

.product img {
    transition: 0.3s;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.card {
    position: relative;
    /* max-height: 250px; */
    overflow: hidden;
    border-radius: 20px;
    max-width: 50%;
}

.product .card span {
    position: absolute;
    bottom: 80px;
    left: 40px;
    text-transform: uppercase;
    font-size: 1.4rem;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
}

.product a {
    border-radius: 25px;
    text-transform: none;
    background-color: #fff;
    padding: 1rem;
    font-size: 15px;
    font-weight: bold;
    color: black;
    mix-blend-mode: screen;
    transition: 0.3s;
    width: min-content;
    text-wrap: nowrap;
    gap: 10px;
    display: flex;
    align-items: center;
}

.product .orange-bg:hover, .product .blue-bg:hover {
    transition: 0.3s;
    text-decoration: underline;
    color: white;
    mix-blend-mode: normal;
}

.orange-bg:hover {
    background-color: #ff7300;
}

.blue-bg:hover {
    background-color: #225556;
}

.product a:hover i {
    text-decoration: none !important;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    max-height: 0;
    margin-top: 20px;
    transition: all .2s ease;
    top: 30px;
    left: 0;
    border-radius: 0 0 20px 20px;
    text-wrap: nowrap;
    list-style: none;
    overflow: hidden;
}

.dropdown-container:hover>.dropdown {
    min-width: 100%;
    max-height: 999px;
    width: max-content;
    height: min-content;
    opacity: 1;
}

.dropdown .item {
    padding: 25px;
    width: 100%;
    background-color: white;
}

.dropdown .item:first-child {
    border-radius: 0;
    margin-top: 10px;
}

.dropdown .item:last-child {
    border-radius: 0 0 20px 20px;
}

.dropdown .item:hover {
    background-color: #ff7300;
    text-decoration: underline;
}

.news .content {
    display: flex;
    flex-direction: column;
}

.news .recent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    position: relative;
}

.recent .title {
    font-size: 24px;
    font-weight: bold;
}

.see-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    color: black;
}

.see-more:hover {
    color: #ff7300;
}

.see-more:hover p {
    color: #ff7300 !important;
}

.recent .img {
    border-radius: 20px;
    width: 50%;
    position: relative;
}

.recent .img img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.recent .img p {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: azure;
    padding: 8px;
    border-radius: 5px;
}

.news .recent span {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a:hover p {
    text-decoration: underline;
}

.dim {
    color: grey !important;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: min-content;
    margin-top: 50px;
}

.container .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1300px;
    margin: 0 20px 0 20px;
    width: 100%;
}

.news .recent span p {
    color: black;
}


.container_3 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.container_3 .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container_3 .card_items {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #ff6b64 0%, #ff7300 100%);
    width: 400px;
    height: 350px;
    justify-content: space-between;
    border-radius: 30px;
    padding: 50px;
    color: white;
}

.card_items .medee {
    width: 55%;
    height: 10%;
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.card_items .medee:hover {
    text-decoration: underline;
}

.card_items a {
    text-decoration: none;
    color: white;
}

.card_items .update {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.card_items .update:hover {
    text-decoration: underline;
}

.con_3_date {
    opacity: 0.5;
}

.con_3_date:hover {
    text-decoration: underline;
}

.con_3_a {
    color: white;
}

.con_3_a i {
    margin-left: 7px;
}

.con_3_a:hover {
    text-decoration: underline;
}

.itgel {
    width: 100%;
    height: fit-content;
}

.itgel_item {
    width: 60%;
    height: 300px;
    background-color: #1a3b70;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 22%;
    border-radius: 25px;
    line-height: 60px;
    transform: translateY(-250px);
}

.itgel_item a {
    border-radius: 10px;
    text-decoration: none;
    font-weight: 300;
    color: #1a3b70;
}

.itgel_item p {
    width: 100%;
    height: 40px;
    padding: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 12px;
}

.itgel_item p:hover {
    text-decoration: underline;
}

.itgel .itgel_img {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itgel .itgel_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.itgel_item h1,
h5 {
    color: #fff;
}

.itgel_item h1 {
    font-size: 50px;
    line-height: 40px;
}

.itgel_item h5 {
    font-size: 15px;
    opacity: 0.6;
    word-spacing: 2px;
}
.banner-container{
    margin-top: -100px;
    padding:0 30px 0 30px
}
.banner{
    width: 100%;
    background-color: #ff7300;
    height: 379px;
    border-radius: 25px;
    position: relative;
    display: flex;
    border: 1px solid #ff7300;
}
.banner .img{
    height: 100%;
    position: relative;
}
.banner .img img{
    position: absolute  ;
    object-fit: contain;
    width: 300px;
    bottom: 0;
    left: 50px;
}

.banner .text{
    width: 40%;
    margin-left: 40%;
    display: grid;
    place-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.banner span{
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 20px;
}
.banner span img{
    cursor: pointer;
    transition: 1s;
}
.banner span img:hover{
    transform: translateY(-15px);
}

footer{
    width: 100%;
    display: flex;
    color: #B9B9B9;
    background-color: #1a1a1a;
    padding: 20px;
    margin-top: 100px;
    gap: 10px;
    justify-content: center;
}

footer > *{
    display: flex;
    width: 20%;
    flex-direction: column;
    gap: 20px;
}

footer a{
    text-decoration: none;
    color: #B9B9B9;
    /* max-width: 90%; */
}
footer a:hover{
    text-decoration: underline;
}

footer > * > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: fit-content;
}

footer > div h3{
    color: white;
}

footer svg{
    width: 16px;
    height: 16px;
    fill: #ff7300;
    min-width: 16px;
}

footer .icons a{
    border-radius: 50%;
    border: 1px solid white;
    display: grid;
    place-items: center;
    padding: 5px;
    transition: 0.2s;
}

footer .icons svg{
    fill: white;
    width: 16px;
    height: 16px;
    transition: 0.2s;
}

footer .icons a:hover svg{
    fill: black;
}
footer .icons a:hover{
    background-color: white;
}

.footer{
    width: 100%;
    padding: 20px;
    background-color: #1a1a1a;;
    color: #B9B9B9;
}

.footer hr{
    margin-bottom: 20px;
    border-color: #484848;
}

@keyframes menuStart {
    0% {
        margin-top: -100px;
    }

    100% {
        margin-top: 0px;
    }
}