* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 3px !important;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container *{
    display: flex;
    gap: 10px !important;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 90%;
}
.main{
    border: 2px solid black;
    width: 80%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.side{
    border: 2px solid orange;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.red{
    border: 2px solid red;
    height: 50%;
}
.side .yellow{
    border: 2px solid yellow;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.purple{
    border: 2px solid purple;
    height: 33%;
}

.orange{
    border: 2px solid orange;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.orange .blue{
    height: 33%;
    width: 100%;
    border: 2px solid cyan;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}
.orange .blue .purple{
    height: 100%;
    width: 50%;
}